html {
    height: 100%;
}

body {
    /*background: #ffdc43;*/
    color: white;
    text-shadow: 0px 0px 1px black;
    font-family: sans-serif;
    text-align: center;
    padding: 40px 100px;
    background-image: radial-gradient(circle at 100% 0%, #ff87ee 0, #f57ae9 16.67%, #dc69e2 33.33%, #be55d8 50%, #9e43ce 66.67%, #7e36c7 83.33%, #5d30c3 100%);
}

h1 {
    font-style: italic;
}

td,
th {
    vertical-align: middle!important;
}

td div {
    background-size: cover;
    width: 60px;
    height: 60px;
}

tbody tr:nth-child(1) td div {
    background-image: url("/tony.jpg");
}

tbody tr:nth-child(2) td div {
    background-image: url("/Evelien.jpg");
}

tbody tr:nth-child(3) td div {
    background-image: url("/Danny.jpg");
}

input {
    text-align: center;
}